/2DMoleculeLookupPlatform/
/Old/palbani/amphetamine-fatigue/
/Old/NewRepo/
/Old/palbani.github.io/
/Old/pbani59.GitHub.IO/
/Old/palbani/personal-website/
/text-mining-synthesis-enhancements/
/Old/Metz Lab - Data Logger/.vs/Metz Lab - Data Logger/DesignTimeBuild/.dtbcache.v2
/Old/Metz Lab - Data Logger/.vs/Metz Lab - Data Logger/v17/.futdcache.v2
/premier-zone/.gitattributes
/premier-zone/.gitignore
/Old/Metz Lab - Data Logger/Metz Lab - Data Logger/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Old/CIS115 - Lab1/.vs/CIS115 - Lab1/v17/.suo
/Old/Lab2/.vs/Lab2/v17/.suo
/Old/Lab3/.vs/Lab3/v17/.suo
/Old/Lab4/.vs/Lab4/v17/.suo
/Old/Lab5/.vs/Lab5/v17/.suo
/Old/Lab6/.vs/Lab6/v17/.suo
/Old/Lab7/.vs/Lab7/v17/.suo
/Old/Lab8/.vs/Lab8/v17/.suo
/Old/Lab9/.vs/Lab9/v17/.suo
/Old/Metz Lab - Data Logger/.vs/Metz Lab - Data Logger/v17/.suo
/Old/Metz Lab - Data Logger2/.vs/Metz Lab - Data Logger2/v17/.suo
/Old/Lab2/.vs/Lab2/FileContentIndex/0a3667be-6d97-4e44-ac49-6e28cf1f7d00.vsidx
/Old/Lab6/.vs/Lab6/FileContentIndex/00cf8233-eef7-4003-b61d-ae7c471d43eb.vsidx
/Old/Lab6/.vs/Lab6/v17/ipch/AutoPCH/a889353e0171ff7/1WWBI0PQ..ipch
/Old/CIS115 - Lab1/.vs/CIS115 - Lab1/FileContentIndex/6a116ad3-879c-4fee-9056-f07274b5e964.vsidx
/Old/Lab6/.vs/Lab6/FileContentIndex/7cd571dd-66d3-4b35-ae3a-8b5d9a3cfb6f.vsidx
/Old/Lab5/.vs/Lab5/FileContentIndex/7f8c9494-d779-42ef-8e54-4a9d41535dab.vsidx
/Old/Lab3/.vs/Lab3/FileContentIndex/21aa17e0-c0a2-4558-ac18-5f0eb73e277f.vsidx
/Old/Lab8/.vs/Lab8/FileContentIndex/36cdbc87-988a-4e0e-bbd6-b48b08f357e4.vsidx
/Old/Metz Lab - Data Logger/.vs/Metz Lab - Data Logger/FileContentIndex/55e41dc1-5d72-497c-b40b-7dceab58fa2f.vsidx
/Old/Lab6/.vs/Lab6/FileContentIndex/86aa9774-315e-4cdb-8fe4-63557869d09d.vsidx
/Old/Lab4/.vs/Lab4/FileContentIndex/1699e99b-5d61-48f7-9531-4f0e92b3a481.vsidx
/Old/Lab2/.vs/Lab2/FileContentIndex/2086d074-a548-42e8-b502-5bf95f470762.vsidx
/Old/Lab5/.vs/Lab5/FileContentIndex/5764cf5d-29cb-4eb4-86ce-ff3494d8a684.vsidx
/Old/CIS115 - Lab1/.vs/CIS115 - Lab1/FileContentIndex/7918e1a5-7593-413e-a244-156b03c31f9d.vsidx
/Old/Lab6/.vs/Lab6/FileContentIndex/15783c84-a985-4bd2-b5b5-98ff6d09f136.vsidx
/Old/Lab9/.vs/Lab9/FileContentIndex/17861eff-5921-415f-8937-2565197527ff.vsidx
/Old/Metz Lab - Data Logger2/.vs/Metz Lab - Data Logger2/FileContentIndex/a91e5926-7b3e-42c8-bf7c-7d4a112e2da7.vsidx
/Old/Lab8/.vs/Lab8/FileContentIndex/af4aa793-c541-4f42-bc9f-f66388b5c230.vsidx
/premier-zone/src/main/resources/application.properties
/Old/Lab2/.vs/Lab2/FileContentIndex/bbebd027-e24a-4a38-8c93-66084414f068.vsidx
/Old/CIS115 - Lab1/.vs/CIS115 - Lab1/v17/Browse.VC.db
/Old/Lab2/.vs/Lab2/v17/Browse.VC.db
/Old/Lab3/.vs/Lab3/v17/Browse.VC.db
/Old/Lab4/.vs/Lab4/v17/Browse.VC.db
/Old/Lab5/.vs/Lab5/v17/Browse.VC.db
/Old/Lab6/.vs/Lab6/v17/Browse.VC.db
/Old/Lab7/.vs/Lab7/v17/Browse.VC.db
/Old/Lab8/.vs/Lab8/v17/Browse.VC.db
/Old/Lab9/.vs/Lab9/v17/Browse.VC.db
/Old/CIS115 - Lab1/.vs/CIS115 - Lab1/FileContentIndex/c5e3b30f-5b59-4043-924d-61621717cc40.vsidx
/Old/Lab5/.vs/Lab5/FileContentIndex/c9d8cd43-5f1d-4f3c-972b-63214e7d8fed.vsidx
/Old/CIS115 - Lab1/CIS115 - Lab1/x64/Debug/CIS115 - Lab1.Build.CppClean.log
/Old/CIS115 - Lab1/x64/Debug/CIS115 - Lab1.exe
/Old/CIS115 - Lab1/CIS115 - Lab1/x64/Debug/CIS115 - Lab1.exe.recipe
/Old/CIS115 - Lab1/CIS115 - Lab1/x64/Debug/CIS115 - Lab1.ilk
/Old/CIS115 - Lab1/CIS115 - Lab1/x64/Debug/CIS115 - Lab1.tlog/CIS115 - Lab1.lastbuildstate
/Old/CIS115 - Lab1/CIS115 - Lab1/x64/Debug/CIS115 - Lab1.log
/Old/CIS115 - Lab1/x64/Debug/CIS115 - Lab1.pdb
/Old/CIS115 - Lab1/CIS115 - Lab1.sln
/Old/CIS115 - Lab1/CIS115 - Lab1/CIS115 - Lab1.sublime-workspace
/Old/CIS115 - Lab1/CIS115 - Lab1/CIS115 - Lab1.vcxproj
/Old/CIS115 - Lab1/CIS115 - Lab1/x64/Debug/CIS115 - Lab1.vcxproj.FileListAbsolute.txt
/Old/CIS115 - Lab1/CIS115 - Lab1/CIS115 - Lab1.vcxproj.filters
/Old/CIS115 - Lab1/CIS115 - Lab1/CIS115 - Lab1.vcxproj.user
/Old/CIS115 - Lab1/CIS115 - Lab1/x64/Debug/CIS115 - Lab1.tlog/CL.command.1.tlog
/Old/Lab2/Lab2/x64/Debug/Lab2.tlog/CL.command.1.tlog
/Old/Lab3/Lab3/x64/Debug/Lab3.tlog/CL.command.1.tlog
/Old/Lab4/Lab4/x64/Debug/Lab4.tlog/CL.command.1.tlog
/Old/Lab5/Lab5/x64/Debug/Lab5.tlog/CL.command.1.tlog
/Old/Lab6/Lab6/x64/Debug/Lab6.tlog/CL.command.1.tlog
/Old/Lab7/Lab7/x64/Debug/Lab7.tlog/CL.command.1.tlog
/Old/Lab8/Lab8/x64/Debug/Lab8.tlog/CL.command.1.tlog
/Old/Lab9/Lab9/x64/Debug/Lab9.tlog/CL.command.1.tlog
/Old/CIS115 - Lab1/CIS115 - Lab1/x64/Debug/CIS115 - Lab1.tlog/Cl.items.tlog
/Old/Lab2/Lab2/x64/Debug/Lab2.tlog/Cl.items.tlog
/Old/Lab3/Lab3/x64/Debug/Lab3.tlog/Cl.items.tlog
/Old/Lab4/Lab4/x64/Debug/Lab4.tlog/Cl.items.tlog
/Old/Lab5/Lab5/x64/Debug/Lab5.tlog/Cl.items.tlog
/Old/Lab6/Lab6/x64/Debug/Lab6.tlog/Cl.items.tlog
/Old/Lab7/Lab7/x64/Debug/Lab7.tlog/Cl.items.tlog
/Old/Lab8/Lab8/x64/Debug/Lab8.tlog/Cl.items.tlog
/Old/Lab9/Lab9/x64/Debug/Lab9.tlog/Cl.items.tlog
/Old/CIS115 - Lab1/CIS115 - Lab1/x64/Debug/CIS115 - Lab1.tlog/CL.read.1.tlog
/Old/Lab2/Lab2/x64/Debug/Lab2.tlog/CL.read.1.tlog
/Old/Lab3/Lab3/x64/Debug/Lab3.tlog/CL.read.1.tlog
/Old/Lab4/Lab4/x64/Debug/Lab4.tlog/CL.read.1.tlog
/Old/Lab5/Lab5/x64/Debug/Lab5.tlog/CL.read.1.tlog
/Old/Lab6/Lab6/x64/Debug/Lab6.tlog/CL.read.1.tlog
/Old/Lab7/Lab7/x64/Debug/Lab7.tlog/CL.read.1.tlog
/Old/Lab8/Lab8/x64/Debug/Lab8.tlog/CL.read.1.tlog
/Old/Lab9/Lab9/x64/Debug/Lab9.tlog/CL.read.1.tlog
/Old/CIS115 - Lab1/CIS115 - Lab1/x64/Debug/CIS115 - Lab1.tlog/CL.write.1.tlog
/Old/Lab2/Lab2/x64/Debug/Lab2.tlog/CL.write.1.tlog
/Old/Lab3/Lab3/x64/Debug/Lab3.tlog/CL.write.1.tlog
/Old/Lab4/Lab4/x64/Debug/Lab4.tlog/CL.write.1.tlog
/Old/Lab5/Lab5/x64/Debug/Lab5.tlog/CL.write.1.tlog
/Old/Lab6/Lab6/x64/Debug/Lab6.tlog/CL.write.1.tlog
/Old/Lab7/Lab7/x64/Debug/Lab7.tlog/CL.write.1.tlog
/Old/Lab8/Lab8/x64/Debug/Lab8.tlog/CL.write.1.tlog
/Old/Lab9/Lab9/x64/Debug/Lab9.tlog/CL.write.1.tlog
/Old/Lab7/.vs/Lab7/FileContentIndex/d61a98e3-bbeb-4991-a538-ccec87c5ca06.vsidx
/Old/Lab7/.vs/Lab7/FileContentIndex/df4265d1-7045-48fa-a3b3-2173d53ee970.vsidx
/Old/CIS115 - Lab1/.vs/CIS115 - Lab1/v17/DocumentLayout.backup.json
/Old/Lab2/.vs/Lab2/v17/DocumentLayout.backup.json
/Old/Lab3/.vs/Lab3/v17/DocumentLayout.backup.json
/Old/Lab4/.vs/Lab4/v17/DocumentLayout.backup.json
/Old/Lab5/.vs/Lab5/v17/DocumentLayout.backup.json
/Old/Lab6/.vs/Lab6/v17/DocumentLayout.backup.json
/Old/Lab7/.vs/Lab7/v17/DocumentLayout.backup.json
/Old/Lab8/.vs/Lab8/v17/DocumentLayout.backup.json
/Old/Lab9/.vs/Lab9/v17/DocumentLayout.backup.json
/Old/CIS115 - Lab1/.vs/CIS115 - Lab1/v17/DocumentLayout.json
/Old/Lab2/.vs/Lab2/v17/DocumentLayout.json
/Old/Lab3/.vs/Lab3/v17/DocumentLayout.json
/Old/Lab4/.vs/Lab4/v17/DocumentLayout.json
/Old/Lab5/.vs/Lab5/v17/DocumentLayout.json
/Old/Lab6/.vs/Lab6/v17/DocumentLayout.json
/Old/Lab7/.vs/Lab7/v17/DocumentLayout.json
/Old/Lab8/.vs/Lab8/v17/DocumentLayout.json
/Old/Lab9/.vs/Lab9/v17/DocumentLayout.json
/Old/Lab3/.vs/Lab3/FileContentIndex/e2a56b00-3273-4383-b1b8-3d37cf50bcb8.vsidx
/Old/Lab2/.vs/Lab2/FileContentIndex/e0283e16-0618-4eb4-8f79-da89accf284a.vsidx
/Old/Lab6/.vs/Lab6/FileContentIndex/e953a17c-8307-452c-9f28-753f6686a9c7.vsidx
/Old/Lab7/.vs/Lab7/FileContentIndex/ebd30883-6720-4d08-9ce9-c83620859484.vsidx
/Old/Lab9/.vs/Lab9/FileContentIndex/ed4e416a-3a05-4fa4-812c-3dda7b14c7d8.vsidx
/Old/Lab3/.vs/Lab3/FileContentIndex/f2a68fbe-4634-42fc-84dd-ef2806767481.vsidx
/Old/Lab8/.vs/Lab8/FileContentIndex/f4fba37e-0930-4937-a0f7-afaa4257065c.vsidx
/Old/Lab8/.vs/Lab8/FileContentIndex/f241326e-fb75-41d8-af75-3555005cce5f.vsidx
/Old/Lab4/.vs/Lab4/FileContentIndex/f1105546-3305-4b84-bb51-844dbdd0e05e.vsidx
/Old/Lab5/Lab5/Input.txt
/Old/CIS115 - Lab1/CIS115 - Lab1/Lab1.cpp
/Old/CIS115 - Lab1/.vs/CIS115 - Lab1/v17/ipch/AutoPCH/6099f50c246d4152/LAB1.ipch
/Old/CIS115 - Lab1/CIS115 - Lab1/x64/Debug/Lab1.obj
/Old/Lab2/Lab2/x64/Debug/Lab2.Build.CppClean.log
/Old/Lab2/Lab2/Lab2.c
/Old/Lab2/x64/Debug/Lab2.exe
/Old/Lab2/Lab2/x64/Debug/Lab2.exe.recipe
/Old/Lab2/Lab2/x64/Debug/Lab2.ilk
/Old/Lab2/.vs/Lab2/v17/ipch/AutoPCH/43b9c3e96bbb3019/LAB2.ipch
/Old/Lab2/Lab2/x64/Debug/Lab2.tlog/Lab2.lastbuildstate
/Old/Lab2/Lab2/x64/Debug/Lab2.log
/Old/Lab2/Lab2/x64/Debug/Lab2.obj
/Old/Lab2/x64/Debug/Lab2.pdb
/Old/Lab2/Lab2.sln
/Old/Lab2/Lab2/Lab2.vcxproj
/Old/Lab2/Lab2/x64/Debug/Lab2.vcxproj.FileListAbsolute.txt
/Old/Lab2/Lab2/Lab2.vcxproj.filters
/Old/Lab2/Lab2/Lab2.vcxproj.user
/Old/Lab3/Lab3/x64/Debug/Lab3.Build.CppClean.log
/Old/Lab3/Lab3/Lab3.c
/Old/Lab3/x64/Debug/Lab3.exe
/Old/Lab3/Lab3/x64/Debug/Lab3.exe.recipe
/Old/Lab3/Lab3/x64/Debug/Lab3.ilk
/Old/Lab2/.vs/Lab2/v17/ipch/AutoPCH/4cc264e970f403da/LAB3.ipch
/Old/Lab3/.vs/Lab3/v17/ipch/AutoPCH/47becd83728d4d0b/LAB3.ipch
/Old/Lab3/Lab3/x64/Debug/Lab3.tlog/Lab3.lastbuildstate
/Old/Lab3/Lab3/x64/Debug/Lab3.log
/Old/Lab3/Lab3/x64/Debug/Lab3.obj
/Old/Lab3/x64/Debug/Lab3.pdb
/Old/Lab3/Lab3.sln
/Old/Lab3/Lab3/Lab3.vcxproj
/Old/Lab3/Lab3/x64/Debug/Lab3.vcxproj.FileListAbsolute.txt
/Old/Lab3/Lab3/Lab3.vcxproj.filters
/Old/Lab3/Lab3/Lab3.vcxproj.user
/Old/Lab4/Lab4/x64/Debug/Lab4.Build.CppClean.log
/Old/Lab4/Lab4/Lab4.c
/Old/Lab4/x64/Debug/Lab4.exe
/Old/Lab4/Lab4/x64/Debug/Lab4.exe.recipe
/Old/Lab4/Lab4/x64/Debug/Lab4.ilk
/Old/Lab4/.vs/Lab4/v17/ipch/AutoPCH/ffc7f60f9a79a7ed/LAB4.ipch
/Old/Lab4/Lab4/x64/Debug/Lab4.tlog/Lab4.lastbuildstate
/Old/Lab4/Lab4/x64/Debug/Lab4.log
/Old/Lab4/Lab4/x64/Debug/Lab4.obj
/Old/Lab4/x64/Debug/Lab4.pdb
/Old/Lab4/Lab4.sln
/Old/Lab4/Lab4/Lab4.vcxproj
/Old/Lab4/Lab4/x64/Debug/Lab4.vcxproj.FileListAbsolute.txt
/Old/Lab4/Lab4/Lab4.vcxproj.filters
/Old/Lab4/Lab4/Lab4.vcxproj.user
/Old/Lab5/Lab5/x64/Debug/Lab5.Build.CppClean.log
/Old/Lab5/Lab5/Lab5.c
/Old/Lab5/x64/Debug/Lab5.exe
/Old/Lab5/Lab5/x64/Debug/Lab5.exe.recipe
/Old/Lab5/Lab5/x64/Debug/Lab5.ilk
/Old/Lab5/.vs/Lab5/v17/ipch/AutoPCH/ca87565455f530a3/LAB5.ipch
/Old/Lab5/Lab5/x64/Debug/Lab5.tlog/Lab5.lastbuildstate
/Old/Lab5/Lab5/x64/Debug/Lab5.log
/Old/Lab5/Lab5/x64/Debug/Lab5.obj
/Old/Lab5/x64/Debug/Lab5.pdb
/Old/Lab5/Lab5.sln
/Old/Lab5/Lab5/Lab5.vcxproj
/Old/Lab5/Lab5/x64/Debug/Lab5.vcxproj.FileListAbsolute.txt
/Old/Lab5/Lab5/Lab5.vcxproj.filters
/Old/Lab5/Lab5/Lab5.vcxproj.user
/Old/Lab6/Lab6/x64/Debug/Lab6.Build.CppClean.log
/Old/Lab6/x64/Debug/Lab6.exe
/Old/Lab6/Lab6/x64/Debug/Lab6.exe.recipe
/Old/Lab6/Lab6/x64/Debug/Lab6.ilk
/Old/Lab6/Lab6/x64/Debug/Lab6.tlog/Lab6.lastbuildstate
/Old/Lab6/Lab6/x64/Debug/Lab6.log
/Old/Lab6/x64/Debug/Lab6.pdb
/Old/Lab6/Lab6.sln
/Old/Lab6/Lab6/Lab6.vcxproj
/Old/Lab6/Lab6/x64/Debug/Lab6.vcxproj.FileListAbsolute.txt
/Old/Lab6/Lab6/Lab6.vcxproj.filters
/Old/Lab6/Lab6/Lab6.vcxproj.user
/Old/Lab7/Lab7/x64/Debug/Lab7.Build.CppClean.log
/Old/Lab7/x64/Debug/Lab7.exe
/Old/Lab7/Lab7/x64/Debug/Lab7.exe.recipe
/Old/Lab7/Lab7/x64/Debug/Lab7.ilk
/Old/Lab7/Lab7/x64/Debug/Lab7.tlog/Lab7.lastbuildstate
/Old/Lab7/Lab7/x64/Debug/Lab7.log
/Old/Lab7/x64/Debug/Lab7.pdb
/Old/Lab7/Lab7.sln
/Old/Lab7/Lab7/Lab7.vcxproj
/Old/Lab7/Lab7/x64/Debug/Lab7.vcxproj.FileListAbsolute.txt
/Old/Lab7/Lab7/Lab7.vcxproj.filters
/Old/Lab7/Lab7/Lab7.vcxproj.user
/Old/Lab7/Lab7/Lab7Main.c
/Old/Lab7/.vs/Lab7/v17/ipch/AutoPCH/246b41383095629e/LAB7MAIN.ipch
/Old/Lab7/Lab7/x64/Debug/Lab7Main.obj
/Old/Lab8/Lab8/x64/Debug/Lab8.Build.CppClean.log
/Old/Lab8/x64/Debug/Lab8.exe
/Old/Lab8/Lab8/x64/Debug/Lab8.exe.recipe
/Old/Lab8/Lab8/x64/Debug/Lab8.ilk
/Old/Lab8/Lab8/x64/Debug/Lab8.tlog/Lab8.lastbuildstate
/Old/Lab8/Lab8/x64/Debug/Lab8.log
/Old/Lab8/x64/Debug/Lab8.pdb
/Old/Lab8/Lab8.sln
/Old/Lab8/Lab8/Lab8.vcxproj
/Old/Lab8/Lab8/x64/Debug/Lab8.vcxproj.FileListAbsolute.txt
/Old/Lab8/Lab8/Lab8.vcxproj.filters
/Old/Lab8/Lab8/Lab8.vcxproj.user
/Old/Lab9/Lab9/x64/Debug/Lab9.Build.CppClean.log
/Old/Lab9/x64/Debug/Lab9.exe
/Old/Lab9/Lab9/x64/Debug/Lab9.exe.recipe
/Old/Lab9/Lab9/x64/Debug/Lab9.ilk
/Old/Lab9/Lab9/x64/Debug/Lab9.tlog/Lab9.lastbuildstate
/Old/Lab9/Lab9/x64/Debug/Lab9.log
/Old/Lab9/x64/Debug/Lab9.pdb
/Old/Lab9/Lab9.sln
/Old/Lab9/Lab9/Lab9.vcxproj
/Old/Lab9/Lab9/x64/Debug/Lab9.vcxproj.FileListAbsolute.txt
/Old/Lab9/Lab9/Lab9.vcxproj.filters
/Old/Lab9/Lab9/Lab9.vcxproj.user
/Old/CIS115 - Lab1/CIS115 - Lab1/x64/Debug/CIS115 - Lab1.tlog/link.command.1.tlog
/Old/Lab2/Lab2/x64/Debug/Lab2.tlog/link.command.1.tlog
/Old/Lab3/Lab3/x64/Debug/Lab3.tlog/link.command.1.tlog
/Old/Lab4/Lab4/x64/Debug/Lab4.tlog/link.command.1.tlog
/Old/Lab5/Lab5/x64/Debug/Lab5.tlog/link.command.1.tlog
/Old/Lab6/Lab6/x64/Debug/Lab6.tlog/link.command.1.tlog
/Old/Lab7/Lab7/x64/Debug/Lab7.tlog/link.command.1.tlog
/Old/Lab8/Lab8/x64/Debug/Lab8.tlog/link.command.1.tlog
/Old/Lab9/Lab9/x64/Debug/Lab9.tlog/link.command.1.tlog
/Old/CIS115 - Lab1/CIS115 - Lab1/x64/Debug/CIS115 - Lab1.tlog/link.read.1.tlog
/Old/Lab2/Lab2/x64/Debug/Lab2.tlog/link.read.1.tlog
/Old/Lab3/Lab3/x64/Debug/Lab3.tlog/link.read.1.tlog
/Old/Lab4/Lab4/x64/Debug/Lab4.tlog/link.read.1.tlog
/Old/Lab5/Lab5/x64/Debug/Lab5.tlog/link.read.1.tlog
/Old/Lab6/Lab6/x64/Debug/Lab6.tlog/link.read.1.tlog
/Old/Lab7/Lab7/x64/Debug/Lab7.tlog/link.read.1.tlog
/Old/Lab8/Lab8/x64/Debug/Lab8.tlog/link.read.1.tlog
/Old/Lab9/Lab9/x64/Debug/Lab9.tlog/link.read.1.tlog
/Old/CIS115 - Lab1/CIS115 - Lab1/x64/Debug/CIS115 - Lab1.tlog/link.secondary.1.tlog
/Old/Lab2/Lab2/x64/Debug/Lab2.tlog/link.secondary.1.tlog
/Old/Lab3/Lab3/x64/Debug/Lab3.tlog/link.secondary.1.tlog
/Old/Lab4/Lab4/x64/Debug/Lab4.tlog/link.secondary.1.tlog
/Old/Lab5/Lab5/x64/Debug/Lab5.tlog/link.secondary.1.tlog
/Old/Lab6/Lab6/x64/Debug/Lab6.tlog/link.secondary.1.tlog
/Old/Lab7/Lab7/x64/Debug/Lab7.tlog/link.secondary.1.tlog
/Old/Lab8/Lab8/x64/Debug/Lab8.tlog/link.secondary.1.tlog
/Old/Lab9/Lab9/x64/Debug/Lab9.tlog/link.secondary.1.tlog
/Old/CIS115 - Lab1/CIS115 - Lab1/x64/Debug/CIS115 - Lab1.tlog/link.write.1.tlog
/Old/Lab2/Lab2/x64/Debug/Lab2.tlog/link.write.1.tlog
/Old/Lab3/Lab3/x64/Debug/Lab3.tlog/link.write.1.tlog
/Old/Lab4/Lab4/x64/Debug/Lab4.tlog/link.write.1.tlog
/Old/Lab5/Lab5/x64/Debug/Lab5.tlog/link.write.1.tlog
/Old/Lab6/Lab6/x64/Debug/Lab6.tlog/link.write.1.tlog
/Old/Lab7/Lab7/x64/Debug/Lab7.tlog/link.write.1.tlog
/Old/Lab8/Lab8/x64/Debug/Lab8.tlog/link.write.1.tlog
/Old/Lab9/Lab9/x64/Debug/Lab9.tlog/link.write.1.tlog
/Old/Lab8/Lab8/Main.c
/Old/Lab9/Lab9/Main.c
/Old/Lab8/.vs/Lab8/v17/ipch/AutoPCH/2713ed1a99ef2d21/MAIN.ipch
/Old/Lab9/.vs/Lab9/v17/ipch/AutoPCH/6d5fd16be7cfddbc/MAIN.ipch
/Old/Lab8/Lab8/x64/Debug/Main.obj
/Old/Lab9/Lab9/x64/Debug/Main.obj
/Old/Lab6/Lab6/mainlab6.c
/Old/Lab6/.vs/Lab6/v17/ipch/AutoPCH/3d2c0099b5646de4/MAINLAB6.ipch
/Old/Lab6/Lab6/x64/Debug/mainlab6.obj
/premier-zone/.mvn/wrapper/maven-wrapper.properties
/Old/Metz Lab - Data Logger/Metz Lab - Data Logger/obj/Debug/net6.0/Metz Lab - Data Logger.AssemblyInfo.cs
/Old/Metz Lab - Data Logger/Metz Lab - Data Logger/obj/Debug/net6.0/Metz Lab - Data Logger.AssemblyInfoInputs.cache
/Old/Metz Lab - Data Logger/Metz Lab - Data Logger/obj/Debug/net6.0/Metz Lab - Data Logger.assets.cache
/Old/Metz Lab - Data Logger/Metz Lab - Data Logger/Metz Lab - Data Logger.csproj
/Old/Metz Lab - Data Logger/Metz Lab - Data Logger/obj/Debug/net6.0/Metz Lab - Data Logger.csproj.AssemblyReference.cache
/Old/Metz Lab - Data Logger/Metz Lab - Data Logger/obj/Debug/net6.0/Metz Lab - Data Logger.csproj.CoreCompileInputs.cache
/Old/Metz Lab - Data Logger/Metz Lab - Data Logger/obj/Debug/net6.0/Metz Lab - Data Logger.csproj.FileListAbsolute.txt
/Old/Metz Lab - Data Logger/Metz Lab - Data Logger/obj/Metz Lab - Data Logger.csproj.nuget.dgspec.json
/Old/Metz Lab - Data Logger/Metz Lab - Data Logger/obj/Metz Lab - Data Logger.csproj.nuget.g.props
/Old/Metz Lab - Data Logger/Metz Lab - Data Logger/obj/Metz Lab - Data Logger.csproj.nuget.g.targets
/Old/Metz Lab - Data Logger/Metz Lab - Data Logger/obj/Debug/net6.0/Metz Lab - Data Logger.GeneratedMSBuildEditorConfig.editorconfig
/Old/Metz Lab - Data Logger/Metz Lab - Data Logger/obj/Debug/net6.0/Metz Lab - Data Logger.GlobalUsings.g.cs
/Old/Metz Lab - Data Logger/.vs/ProjectEvaluation/metz lab - data logger.metadata.v6.1
/Old/Metz Lab - Data Logger/.vs/ProjectEvaluation/metz lab - data logger.projects.v6.1
/Old/Metz Lab - Data Logger/Metz Lab - Data Logger.sln
/Old/Metz Lab - Data Logger2/Metz Lab - Data Logger2/Metz Lab - Data Logger2.pyproj
/Old/Metz Lab - Data Logger2/Metz Lab - Data Logger2.sln
/Old/Metz Lab - Data Logger2/Metz Lab - Data Logger2/Metz_Lab___Data_Logger2.py
/premier-zone/mvnw
/premier-zone/mvnw.cmd
/Old/Lab5/Lab5/Output.txt
/premier-zone/pom.xml
/premier-zone/src/main/java/com/pl/premier_zone/PremierZoneApplication.java
/premier-zone/src/test/java/com/pl/premier_zone/PremierZoneApplicationTests.java
/Old/Metz Lab - Data Logger/Metz Lab - Data Logger/Program.cs
/Old/Metz Lab - Data Logger/Metz Lab - Data Logger/obj/project.assets.json
/Old/Metz Lab - Data Logger/Metz Lab - Data Logger/obj/project.nuget.cache
/Old/Metz Lab - Data Logger/.vs/Metz Lab - Data Logger/FileContentIndex/read.lock
/Old/Metz Lab - Data Logger2/.vs/Metz Lab - Data Logger2/FileContentIndex/read.lock
/Old/CIS115 - Lab1/.vs/CIS115 - Lab1/v17/Solution.VC.db
/Old/Lab2/.vs/Lab2/v17/Solution.VC.db
/Old/Lab3/.vs/Lab3/v17/Solution.VC.db
/Old/Lab6/.vs/Lab6/v17/Solution.VC.db
/Old/Lab2/.vs/Lab2/v17/ipch/AutoPCH/c5c1227ba58b0716/SOURCE3.ipch
/Old/CIS115 - Lab1/CIS115 - Lab1/x64/Debug/vc143.idb
/Old/Lab2/Lab2/x64/Debug/vc143.idb
/Old/Lab3/Lab3/x64/Debug/vc143.idb
/Old/Lab4/Lab4/x64/Debug/vc143.idb
/Old/Lab5/Lab5/x64/Debug/vc143.idb
/Old/Lab6/Lab6/x64/Debug/vc143.idb
/Old/Lab7/Lab7/x64/Debug/vc143.idb
/Old/Lab8/Lab8/x64/Debug/vc143.idb
/Old/Lab9/Lab9/x64/Debug/vc143.idb
/Old/CIS115 - Lab1/CIS115 - Lab1/x64/Debug/vc143.pdb
/Old/Lab2/Lab2/x64/Debug/vc143.pdb
/Old/Lab3/Lab3/x64/Debug/vc143.pdb
/Old/Lab4/Lab4/x64/Debug/vc143.pdb
/Old/Lab5/Lab5/x64/Debug/vc143.pdb
/Old/Lab6/Lab6/x64/Debug/vc143.pdb
/Old/Lab7/Lab7/x64/Debug/vc143.pdb
/Old/Lab8/Lab8/x64/Debug/vc143.pdb
/Old/Lab9/Lab9/x64/Debug/vc143.pdb
